h1 {
    text-align: center;
}

#box_c {
    background-color: rgb(250, 140, 176);
  padding: 10px;
  border: 5px solid black;
  width: 300px;
  height: 50px;
  margin-top: 50px;
  overflow: auto;
}

#box_b {
    background-color: rgb(221, 44, 44);
  padding: 10px;
  border: 5px solid black;
  width: 300px;
  height: 50px;
  margin-top: 50px;
  overflow: auto;
}

#box_s {
    background-color: rgb(247, 247, 55);
  padding: 10px;
  border: 5px solid black;
  width: 300px;
  height: 50px;
  margin-top: 50px;
  overflow: auto;
}

#content_c {
    background-color: gray
}

#content_b {
    background-color: gray
}

#content_s {
    background-color: gray
}

#foot {
  font: Arial;
  color: darkorange;
  text-align: center;
}